{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>counter</title>
    <link rel = "stylesheet" href="{% static 'myapp/css/style1.css' %}">
  </head>
  <body>


    <h1 id = "header1">Counter</h1>
    <div id="textinput">
    <form  method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input  type = 'submit' , value = "Save" />
    </form>
    </div>
    <div id = "answer"> answer : </div> <br>
    <h1><div id = "counter">{{counter}}</div></h1>
    <br>
    {% block getdb %}
    <div class = "option"><h4><a href="http://127.0.0.1:8000/showten">show 10 previous results</a></h4><br></div>
    {% endblock %}

  </body>
</html>
